<form  [formGroup]="ahorcadoForm" (ngSubmit)="arriesgaLetra()">   
  <p> 
      <mat-form-field  appearance="standard">
          <mat-label> Letra: </mat-label>
          <input  matInput 
                  maxlength="1" 
                  formControlName="letraIntento" 
                  placeholder="Adelante... estoy seguro que perderás..." >
          <mat-error *ngIf="ahorcadoForm.controls.letraIntento.touched && ahorcadoForm.controls.letraIntento.invalid">
              <span *ngIf="ahorcadoForm.controls.letraIntento.errors.required">El que no arriesga no gana!</span>  
          </mat-error>  
      </mat-form-field>
  </p>   
  <button id="buttonJuegoPorLetra" mat-raised-button color="primary" type="submit" [disabled]="!ahorcadoForm.valid" >
    Intentar letra
  </button>
</form> 