
<h3>
  Intentos restantes: {{intentosRestantes}} 
</h3>

  <img width="250" alt="image" src={{vidaImagen}}  > 

  <mat-chip-list aria-label="Fish selection" > 
    <mat-chip *ngFor="let letra of letrasCorrectas" color="primary" selected >
      {{letra}}  
    </mat-chip>
  </mat-chip-list>
  <mat-chip-list aria-label="Fish selection" > 
    <mat-chip *ngFor="let letra of letrasIncorrectas" color="warn" selected >
      {{letra}}  
    </mat-chip>
  </mat-chip-list>

  <h2 > 
    {{resultado.Info}}
    <span class="material-icons"> emoji_events  </span>
    <span class="material-icons"> psychology  </span>
  </h2> 
