<!-- <app-navigation-bar></app-navigation-bar> -->

<!-- 
<router-outlet></router-outlet>
 -->

<h1>Ahorcado 
    <span class="material-icons"> videogame_asset  </span>
  </h1>  
    
  
  
  <button mat-raised-button color="primary">
    <span class="material-icons"> sports_kabaddi  </span>
    Multijugador
  </button>
  
  <br>
  <br> 
  
  <h2 class="md-display-4">Por palabra</h2>

<app-ahorcado-palabra></app-ahorcado-palabra>


<br>
<br> 
<br>
<br> 
<br>
<br> 
  <h2 class="md-display-4">Por letra</h2>
<app-ahorcado-letra></app-ahorcado-letra>  