<h1>Ahorcado 
  <span class="material-icons"> videogame_asset  </span>
</h1> 
 
  <button mat-raised-button color="primary" (click)="this.recargaJuego()">
    <span class="material-icons"> refresh  </span>
    Reiniciar juego
  </button> 

  <br><br> 
 
  <h2> 
    Tipo juego
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style"> 
      <mat-button-toggle (change)="setTipoJuego($event.value)" value=1 matTooltip="Por Palabra Completa" >Por palabra</mat-button-toggle>
      <mat-button-toggle (change)="setTipoJuego($event.value)" value=2 matTooltip="Por letra">Por letra</mat-button-toggle>
     </mat-button-toggle-group>
  </h2>

<div class="container"  >
  <div class="row" > 
    He fracasado, decime la palabra
    <div *ngIf="flagMostrarPalabra">
      <h3>{{  this.palabraAAdivinar  }} </h3>
    </div> 
    <button mat-raised-button color="primary" type="submit" (click)="this.setFlagMostrarPalabra()"  > 
      <span mat-raised-button color="primary" class="material-icons">
        visibility
      </span>
    </button>
  </div>
</div>

<div>
  <h2>
    Estado juego: 
  </h2>
  <img width="250" alt="image" src={{vidaImagen}}  > 
  
  <h2>
    Intentos restantes:  {{intentosRestantes}} 
  </h2> 
</div>
  
    <mat-chip-list aria-label="Fish selection" > 
      <mat-chip *ngFor="let letra of letrasCorrectas" color="primary" selected >
        {{letra}}  
      </mat-chip>
    </mat-chip-list>
    <mat-chip-list aria-label="Fish selection" > 
      <mat-chip *ngFor="let letra of letrasIncorrectas" color="warn" selected >
        {{letra}}  
      </mat-chip>
    </mat-chip-list>
  
    <h2 *ngIf="resultado.Value"> 
      {{resultado.Value}}
      <span class="material-icons"> emoji_events  </span>
      <span class="material-icons"> psychology  </span>
    </h2> 
  
<app-ahorcado-letra
    (flagSubmitChange)="onDataChange($event)"
    *ngIf="esPorLetra()"
    > 
</app-ahorcado-letra>
<app-ahorcado-palabra
    (flagSubmitChange)="onDataChange($event)"
    *ngIf="esPorPalabraCompleta()"> 
</app-ahorcado-palabra>
 